.chart-container {
  min-height: 25em;
}

.chart {
}

.selected-button {
  background-color: var(--tui-clear-inverse-hover);
}

.intervalSelector {
  width: 6.5em;
}

.viewSelector {
  width: 6.5em;
}

.intervalRangePicker {
  min-width: 13em;
}