.root {
  max-height: 100%;
}

.clover-logo {
  height: 28px;
}

.powered-by {
}

.symmio-logo {
  width: 20px;
  height: 20px;
}

.toolbar {
  background-color: var(--tui-base-02);
  padding: 15px !important;
}