<tui-root *tuiLet="stateService.nightMode | async as night"
          [tuiMode]="night ? 'onDark' : null" class="h-full">
    <tui-theme-night *ngIf="night"></tui-theme-night>
    <div class="root flex flex-column h-full flex-grow p-2">
        <div class="flex flex-row align-content-center justify-content-between toolbar p-2">
            <div class="align-items-end flex flex-row gap-2">
                <img [src]="'../assets/'+assetsFolder+'/logo.svg'" class="clover-logo">
                @if (aggregated || panel) {
                    <div class="flex flex-column  justify-content-center h-full">
                        <span class="text-xs powered-by">Analytics</span>
                    </div>
                } @else {
                    <div class="flex flex-row align-items-center justify-content-center gap-1 h-full">
                        <span class="text-xs powered-by">Powered by SYMMIO</span>
                        <img src="../assets/poweredByLogo.svg" class="symmio-logo">
                    </div>
                }
            </div>
            @if (panel) {
                <div class="flex flex-row gap-2 align-items-center mx-2">
                    <form tuiGroup class="group" [collapsed]="true">
                        @for (env of environmentService.environments; track env.name) {
                            <tui-radio-block contentAlign="right" [formControl]="environmentForm" [item]="env" size="s" style="min-width: 120px">
                                <span>
                                    {{ env.name }}
                                </span>
                            </tui-radio-block>
                        }
                    </form>
                </div>
            }
        </div>
        <div class="body flex-grow-1 w-full h-full pt-2">
            <router-outlet></router-outlet>
        </div>
    </div>

</tui-root>