[Unit]
Description=Running the Snapshot job
After=postgresql.service
Requires=postgresql.service
PartOf=analytics.target

[Service]
User=analytics_user
Environment=TENANT=BASE_8_2
ExecStart=runner ANALYTICS_PATH/src/app/tasks/snapshot.py
RestartSec=1
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=analytics.target