<div *ngIf="groupedHistories | async as histories"></div>
<div class="charts-grid">
	<div class="chart-cell">
		<app-chart
			[groupedHistories]="groupedHistories!" [fieldName]="'positionsCount'"
			[chartTitle]="'Positions'">
		</app-chart>
	</div>
	<div class="chart-cell">
		<app-chart
			[groupedHistories]="groupedHistories!" [fieldName]="'tradeVolume'"
			[chartTitle]="'Trade Volume'"
			[yAxisFormatter]="moneyValueFormatter" [decimals]="18">
		</app-chart>
	</div>
	<div class="chart-cell">
		<app-chart
			[groupedHistories]="groupedHistories!" [fieldName]="'openInterest'"
			[chartTitle]="'Open Interest'"
			[yAxisFormatter]="moneyValueFormatter" [decimals]="18" [hasCumulative]="false">
		</app-chart>
	</div>
	<div class="chart-cell">
		<app-chart
			[groupedHistories]="groupedHistories!" [fieldName]="'averagePositionSize'"
			[chartTitle]="'Average Position Size'"
			[yAxisFormatter]="moneyValueFormatter" [decimals]="18">
		</app-chart>
	</div>
</div>