.chart-card {
  min-width: 40em;
  width: calc(50% - 2.3rem);
  flex-grow: 1;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-radius: 0 !important;
}

@media (max-width: 75em) {
  .chart-card {
    width: 100%;
    min-width: auto;
  }
}
