<div class="root flex flex-row gap-3 h-full w-full">
    <div class="menu">
        <tui-data-list role="menu">
            @for (group of groups; track group.label) {
                <tui-opt-group [label]="group.label">
                    @for (item of group.items; track item.label) {
                        <a #rla="routerLinkActive"
                           role="menuitemradio"
                           routerLinkActive
                           tuiOption
                           [attr.aria-checked]="rla.isActive"
                           [routerLink]="item.routerLink">
                            {{ item.label }}
                            <tui-icon  *ngIf="rla.isActive" icon="@tui.check"></tui-icon>
                        </a>
                    }
                </tui-opt-group>
            }
        </tui-data-list>
    </div>
    <div class="root flex flex-column w-full h-full justify-content-start m-3">
        <router-outlet></router-outlet>
    </div>
</div>