<div class="flex flex-row gap-2 align-items-start">
    <tui-island *tuiLet="(hedgerSnapshot|async) as hedgerSnap">
        <span class="tui-island__title">State</span>
        @if (hedgerSnap) {
            <div class="flex flex-column gap-1 mt-2">
                <span>Days since launch: {{ daysSinceLaunch }}</span>
                <span>Total State : {{ hedgerSnap.totalState() | bigNumberFormat }}</span>
                <span>Total State Including Liquidators: {{ hedgerSnap.totalState()!.plus(hedgerSnap.liquidators_profit!) | bigNumberFormat }}</span>
                <span>Binance Profit: {{ hedgerSnap.binance_profit | bigNumberFormat }}</span>
                <span>Contract Profit: {{ hedgerSnap.contract_profit | bigNumberFormat }}</span>
                <span>Liquidators Profit: {{ hedgerSnap.liquidators_profit | bigNumberFormat }}</span>
                <span>Liquidations Profit: {{ hedgerSnap.earned_cva | bigNumberFormat }}</span>
                <span>FundingFee Profit: {{ hedgerSnap.fundingFeeProfit() | bigNumberFormat:0}}</span>
                <span>Max Open Interest: {{ hedgerSnap.max_open_interest | bigNumberFormat }}</span>
                <div class="separator"></div>
                <span>Total profit per day: {{ (hedgerSnap.totalState()!.div(daysSinceLaunch!)) | bigNumberFormat }}</span>
                <span>Total profit per day (including liquidators): {{ ((hedgerSnap.totalState()!.plus(hedgerSnap.liquidators_profit!))!.div(daysSinceLaunch!)) | bigNumberFormat }}</span>
                <div class="separator"></div>
                <span>Last snapshot: {{ hedgerSnap.timestamp | timeAgo }}</span>
            </div>
        } @else {
            <span>Not Available</span>
        }
    </tui-island>
    <tui-accordion class="container" [closeOthers]="false" *tuiLet="(hedgerSnapshot|async) as hedgerSnap">
        <tui-accordion-item>
            Contract Balances
            <ng-template tuiAccordionItemContent>
                <div>
                    Balance: {{ hedgerSnap?.hedger_contract_balance | bigNumberFormat }}
                </div>
                <div>
                    Deposit: {{ hedgerSnap?.hedger_contract_deposit | bigNumberFormat }}
                </div>
                <div>
                    Withdraw: {{ hedgerSnap?.hedger_contract_withdraw | bigNumberFormat }}
                </div>
            </ng-template>
        </tui-accordion-item>
        <tui-accordion-item>
            Binance State
            @if (hedgerSnap?.binance_maintenance_margin) {
                <ng-template tuiAccordionItemContent>
                    <div>Maintenance
                        Margin: {{ hedgerSnap?.binance_maintenance_margin | bigNumberFormat }}
                    </div>
                    <div>Total
                        Balance: {{ hedgerSnap?.binance_total_balance | bigNumberFormat }}
                    </div>
                    <div>Account Health
                        Ratio: {{ hedgerSnap?.binance_account_health_ratio | bigNumberFormat }}
                    </div>
                    <div>Cross
                        UPnL: {{ hedgerSnap?.binance_cross_upnl | bigNumberFormat }}
                    </div>
                    <div>Average
                        Balance: {{ hedgerSnap?.binance_av_balance | bigNumberFormat }}
                    </div>
                    <div>Total Initial
                        Margin: {{ hedgerSnap?.binance_total_initial_margin | bigNumberFormat }}
                    </div>
                    <div>Max Withdraw
                        Amount: {{ hedgerSnap?.binance_max_withdraw_amount | bigNumberFormat }}
                    </div>
                    <div>Deposit: {{ hedgerSnap?.binance_deposit | bigNumberFormat }}
                    </div>
                    <div>Trade
                        Volume: {{ hedgerSnap?.binance_trade_volume | bigNumberFormat }}
                    </div>
                </ng-template>
            } @else {
                <ng-template tuiAccordionItemContent>
                    Not Available
                </ng-template>
            }

        </tui-accordion-item>
        <tui-accordion-item>
            Funding Fee
            @if (hedgerSnap?.binance_maintenance_margin) {
                <ng-template tuiAccordionItemContent>
                    <div>Hedger Paid To Binance: {{ hedgerSnap?.binance_paid_funding_fee | bigNumberFormat:0 }}</div>
                    <div>Hedger Received from Binance: {{ hedgerSnap?.binance_received_funding_fee | bigNumberFormat:0 }}</div>
                    <div>Hedger Paid To Users: {{ hedgerSnap?.users_paid_funding_fee | bigNumberFormat }}</div>
                    <div>Hedger Received From Users: {{ hedgerSnap?.users_received_funding_fee | bigNumberFormat }}</div>
                    <div>Binance Next Funding Fee: {{ hedgerSnap?.binance_next_funding_fee | bigNumberFormat }}</div>
                </ng-template>
            } @else {
                <ng-template tuiAccordionItemContent>
                    Not Available
                </ng-template>
            }
        </tui-accordion-item>
        <tui-accordion-item>
            CVA
            <ng-template tuiAccordionItemContent>
                <div>Earned: {{ hedgerSnap?.earned_cva | bigNumberFormat }}</div>
                <div>Loss: {{ hedgerSnap?.loss_cva | bigNumberFormat }}</div>
            </ng-template>
        </tui-accordion-item>
        <tui-accordion-item>
            Liquidators state
            <ng-template tuiAccordionItemContent>
                <div>Balance: {{ hedgerSnap?.liquidators_balance | bigNumberFormat }}</div>
                <div>Withdraw: {{ hedgerSnap?.liquidators_withdraw | bigNumberFormat }}</div>
                <div>Allocated: {{ hedgerSnap?.liquidators_allocated | bigNumberFormat }}</div>
            </ng-template>
        </tui-accordion-item>
        <tui-accordion-item (openChange)="onOpen($event)" *tuiLet="environmentService.selectedEnvironment.value as env">
            Affiliates
            <ng-template tuiAccordionItemContent>
                <div class="flex flex-row gap-2">
                    @for (affiliate of env!.affiliates; track affiliate.name) {
                        <affiliate-state-viewer [affiliateSnapshot]="affiliateSnapshotsMaps.get(affiliate.name!)"
                                                [affiliate]="affiliate" [decimals]="env!.collateralDecimal ">
                        </affiliate-state-viewer>
                    }
                </div>
            </ng-template>
        </tui-accordion-item>

    </tui-accordion>
</div>