<div class="info-inner flex flex-column p-3 gap-2">
    <span class="info-label text-xs" style="text-transform: uppercase; letter-spacing: 0.06em">{{ title }}</span>
    @if (totalValue != null) {
    <span class="info-value text-2xl font-bold">
        {{ formatValue(totalValue) }}
    </span>
    <div class="flex flex-row align-items-center gap-1">
        <span class="info-monthly-label text-xs">
            Monthly
        </span>
        <span class="info-monthly-value text-xs font-medium">
            {{ lastMonthValue != null ? formatValue(lastMonthValue): '' }}
        </span>
    </div>
    } @else if (loadingService.loading()) {
    <section [class.tui-skeleton]="true" style="width: 10em; height: 1.75em; border-radius: 2px" [tuiSkeleton]="true"></section>
    <section [class.tui-skeleton]="true" style="width: 14em; height: 1em; border-radius: 2px" [tuiSkeleton]="true"></section>
    }
</div>
