<div class="flex flex-column p-2 gap-1">
    <span tuiTitle class="text-xl pb-2">{{ title }}</span>
    @if (totalValue != null) {
    <span class="text-xl font-semibold">
        {{ formatValue(totalValue) }}
    </span>
    <div class="flex-row gap-1">
        <span class="text-sm">
            Monthly:
        </span>
        <span class="text-sm">
            {{ lastMonthValue != null ? formatValue(lastMonthValue): '' }}
        </span>
    </div>
    } @else if (loadingService.loading()) {
    <section [class.tui-skeleton]="true" style="width: 12em; height: 1.5em" [tuiSkeleton]="true"></section>
    <section [class.tui-skeleton]="true" style="width: 16em; height: 1.5em" [tuiSkeleton]="true"></section>
    }
</div>