<div class="flex flex-column gap-2 w-full">
    <div class="flex flex-row justify-content-between w-full">
        <div class="text-4xl pb-3">Quote {{ quote.id }}</div>
        <span class="text-lg"> {{ positionTypeMap.get(quote.positionType) }} on {{ quote.symbolName }}</span>
    </div>
    <div class="text-lg">Current state is {{ quoteStatusMap.get(quote.quoteStatus) }}</div>

    <tui-accordion-item class="container" size="s" [open]="true">
        Opening Quote
        <ng-template tuiAccordionItemContent>
            <div class="flex flex-column gap-2">
                <span class="text-lg">
                    {{ orderTypeMap.get(quote.openOrderType) }} order on price {{ formatValue(quote.price) }}
                </span>
                @if (quote.openedPrice != null) {
                    <span class="text-lg">
                        {{ formatValue(quote.quantity, false) }} opened on {{ formatValue(quote.openedPrice) }}
                    </span>
                }
            </div>
        </ng-template>
    </tui-accordion-item>

    @if (quote.closedAmount > 0) {
        <tui-accordion-item class="container" size="s" [open]="true">
            Closing Quote
            <ng-template tuiAccordionItemContent>
                <div class="flex flex-column gap-2">
                    <span class="text-lg"> {{ (quote.closedAmount / quote.quantity) * 100 }}
                        % of quote is closed on {{ formatValue(quote.avgClosedPrice) }} </span>
                </div>
            </ng-template>
        </tui-accordion-item>
    }

    <tui-accordion-item class="container" size="s">
        Locked Values
        <ng-template tuiAccordionItemContent>
            <div class="flex flex-column gap-2">
                <span class="text-base">CVA: {{ formatValue(quote.cva) }}</span>
                <span class="text-base">LF: {{ formatValue(quote.lf) }}</span>
                <span class="text-base">PartyA MM: {{ formatValue(quote.partyAmm) }}</span>
                <span class="text-base">PartyB MM: {{ formatValue(quote.partyBmm) }}</span>
            </div>
        </ng-template>
    </tui-accordion-item>
    <tui-accordion-item class="container" size="s">
        Funding Rate
        <ng-template tuiAccordionItemContent>
            <div class="flex flex-column gap-2">
                <span class="text-base">Paid: {{ formatValue(quote.fundingPaid) }}</span>
                <span class="text-base">Received: {{ formatValue(quote.fundingReceived) }}</span>
            </div>
        </ng-template>
    </tui-accordion-item>
</div>