<tui-root tuiTheme="dark" class="h-full">
    <div class="root flex flex-column h-full flex-grow p-2">
        <div tuiCardLarge class="flex flex-row align-content-center justify-content-between toolbar">
            <div class="align-items-center flex flex-row gap-3">
                <img [src]="'../assets/'+assetsFolder+'/logo.svg'" class="clover-logo">
                @if (aggregated || panel) {
                    <div class="flex flex-column justify-content-center h-full">
                        <span class="text-sm powered-by font-semibold" style="letter-spacing: 0.08em; text-transform: uppercase; opacity: 0.5">Analytics</span>
                    </div>
                } @else {
                    <div class="flex flex-row align-items-center justify-content-center gap-2 h-full"
                         style="padding: 4px 10px; border-radius: 3px; background: rgba(255,255,255,0.04); border: 1px solid rgba(132,125,125,0.1)">
                        <span class="text-xs powered-by" style="letter-spacing: 0.04em">Powered by</span>
                        <img src="../assets/poweredByLogo.svg" class="symmio-logo">
                    </div>
                }
            </div>
            @if (panel) {
                <div class="flex flex-row gap-2 align-items-center mx-2">
                    <form tuiGroup class="group" [collapsed]="true">
                        @for (env of environmentService.environments; track env.name) {
                            <label tuiBlock="s"> <input tuiRadio type="radio" [formControl]="environmentForm"
                                                        [value]="env" style="min-width: 120px">
                                <span>
                                    {{ env.name }}
                                </span>
                            </label>
                        }
                    </form>
                </div>
            }
        </div>
        <div class="body flex-grow-1 w-full h-full pt-2">
            <router-outlet></router-outlet>
        </div>
    </div>
</tui-root>
