config/local_settings.py
config/local_settings.old.py
poetry.lock
app/user_client.session
app/user_client.session-journal
cache
config/contexts
*venv
app/scripts/binance_archive_history
log_file*.log
log_file*.txt
*quotes.csv
