src/config/local_settings.py
src/config/local_settings.old.py
poetry.lock
src/app/user_client.session
src/app/user_client.session-journal
cache
src/config/contexts
*venv
src/app/scripts/binance_archive_history
log_file*.log
log_file*.txt
*.csv
uv.lock
