version: '3'

services:
  web:
    build: app
    ports:
      - "5000:5000"
    depends_on:
      - db
    environment:
      DATABASE_URI: "postgresql://postgres:password@db:5432/analytics"

  db:
    image: timescale/timescaledb:latest-pg15
    environment:
      POSTGRES_PASSWORD: password
      POSTGRES_DB: analytics
