<div class="page-wrapper dots-background flex flex-column flex-grow gap-2 pb-2">
  <app-glowing-dots [numberOfDots]="14" [glowSpeed]="14"></app-glowing-dots>

  <!-- Info cards -->
  <div class="infos w-full infos-section">
    <div tuiCardLarge tuiSurface="elevated" class="info-card h-full flex-grow-1">
      <app-info title="Deposits" [totalValue]="totalHistory?.deposit" [lastMonthValue]="lastMonthHistory?.deposit"
        [formatMoney]="true">
      </app-info>
    </div>
    <div tuiCardLarge tuiSurface="elevated" class="info-card h-full flex-grow-1">
      <app-info title="Traded Volume" [totalValue]="totalHistory?.tradeVolume"
        [lastMonthValue]="lastMonthHistory?.tradeVolume"
        [formatMoney]="true">
      </app-info>
    </div>
    <div tuiCardLarge tuiSurface="elevated" class="info-card h-full flex-grow-1">
      <app-info title="Quotes" [totalValue]="totalHistory?.quotesCount" [lastMonthValue]="lastMonthHistory?.quotesCount">
      </app-info>
    </div>
    <div tuiCardLarge tuiSurface="elevated" class="info-card h-full flex-grow-1">
      <app-info title="Users" [totalValue]="totalHistory?.users" [lastMonthValue]="monthlyActiveUsers">
      </app-info>
    </div>
  </div>

  <tui-segmented size="l" class="tab-header">
    <button type="button" class="w-full tab-button" (click)="viewMode = ViewMode.FRONTENDS">Frontends</button>
    <button type="button" class="w-full tab-button" (click)="viewMode = ViewMode.SOLVERS">Solvers</button>
  </tui-segmented>

  <!-- Charts -->
  <div class="charts-section">
    @switch (viewMode) {
      @case (ViewMode.FRONTENDS) {
        @if (groupedHistories != null) {
          <app-affiliates-charts
            [groupedHistories]="groupedHistories"
            [selectedChainNames]="selectedChainNames"
            [selectedFrontendNames]="selectedFrontendNames"
            [decimalsMap]="decimalsMap"
            (totalMonthlyHistory)="monthlyActiveUsers = ($event).activeUsers">
          </app-affiliates-charts>
        }
      }
      @case (ViewMode.SOLVERS) {
        <app-solvers-charts [selectedChainNames]="selectedChainNames"></app-solvers-charts>
      }
    }
  </div>
</div>
