[Unit]
Description=Running the Snapshot job
After=postgresql.service
Requires=postgresql.service
PartOf=analytics.target

[Service]
User=analytics_user
Environment=PYTHONPATH=ANALYTICS_PATH/
Environment=TENANT=BNB_8_2
ExecStart=python ANALYTICS_PATH/app/snapshot.py
RestartSec=1
Restart=always
TimeoutStartSec=60
TimeoutStopSec=60

[Install]
WantedBy=analytics.target